/* W05 */
@import url(https://db.onlinewebfonts.com/c/10414a92353634a54b080a9091753756?family=W05);
/* DINNextW1G */
@import url(https://db.onlinewebfonts.com/c/7bb508fd7255ec38b6f29cb4cf8668cf?family=DINNextW1G-Regular);
/* Tungsten */
@import url(https://db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten-Bold);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.custom-button::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -4px;
  bottom: -3px;
  left: -4px;
  border: 1px solid white;
}

.li-hover::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  bottom: 0;
  left: -15px;
  width: 125%;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 6px;
  opacity: 0;
}

.li-hover:hover::before {
  opacity: 1;
}

.li-underline::before {
  content: "";
  position: absolute;
  top: 38px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fd4556;
  border-radius: 50px;
  opacity: 0;
}

.li-underline:hover::before {
  opacity: 1;
}
